<%= render 'layouts/header' %>
<div class="auth-page-container d-flex justify-content-center align-items-center">
  <div class="form-content p-5">
    <h4>Change Your Name</h4>
    <%= render 'form', user: @user, actionText: 'Apply' %>
  </div>
</div>
